:root {
    --inner-width: 96%;
}

#calc-body {
    width: 400px;
    height: 500px;
    border: 2px black solid;
    margin: 0 auto;
}



#perm-display {
    width: var(--inner-width);
    height: 100px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
}

#temp-display {
    width: var(--inner-width);
    height: 50px;
    border: 1px solid black;
    margin: 0 auto;
}

#buttons {
    display: flex;
    width: var(--inner-width);
    height: 320px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-around;
}

#numbers,
#operators {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 320px;
    border: 1px solid black;
}

.num-buttons {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
}