:root {
    --inner-width: 90%;
}

#calc-body {
    width: 350px;
    height: 420px;
    border: 2px black solid;
    margin: 0 auto;
}



#perm-display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: var(--inner-width);
    height: 50px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 50px;
}

#temp-display {
    display: flex;
    justify-content: end;
    width: var(--inner-width);
    height: 50px;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 50px;
    align-items: center;
}

#operator {
    margin-left: 5px;
    margin-right: 5px;
}

#buttons {
    display: flex;
    width: var(--inner-width);
    height: 280px;
    /*border: 1px solid black;*/
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-around;
}

#numbers,
#operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 280px;
    /*border: 1px solid black;*/
}

#numbers {
    width: 300px;
}

#operators {
    width: 300px;
}

.num-buttons,
.op-buttons {
    width: 50px;
    height: 50px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 25%;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    color: #608a9f;
    background-color: black;
}

.op-buttons {
    width: 70px;
    border-radius: 20%;
}