:root {
    --inner-width: 90%;
}

#calc-body {
    width: 348px;
    height: 400px;
    border: 2px black solid;
    border-radius: 20px;
    margin: 0 auto;
    background-color: black;
}

#display {
    width: 320px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 2px;
    font-size: 50px;
    padding-bottom: 5px;
    background-color: aliceblue;
}

#perm-display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: var(--inner-width);
    height: 50px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 10px;
    font-size: 50px;
}

#temp-display {
    display: flex;
    justify-content: end;
    width: var(--inner-width);
    height: 50px;
    margin: 0 auto;
    font-size: 50px;
    align-items: center;
}

#operator {
    margin-left: 5px;
    margin-right: 5px;
}

#buttons {
    display: flex;
    width: var(--inner-width);
    height: 280px;
    /*border: 1px solid black;*/
    margin: 0 auto;
    margin-top: 5px;
    justify-content: space-around;
    background-color: #28a3d7;
    border-radius: 10px;
}

#numbers,
#operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 280px;
    /*border: 1px solid black;*/
    width: 300px;
    background-color: #28a3d7;
    border-radius: 20px;
}

.num-buttons,
.op-buttons {
    width: 50px;
    height: 50px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 25%;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    color: #608a9f;
    background-color: black;
}

.op-buttons {
    width: 70px;
    border-radius: 20%;
}